header{
    height:80px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    color:var(--white);

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.5rem;
        font-size: 40px;
        span{
            font-size: inherit;
        }

    }

   
    

    .links{
        font-size: 30px;
        display: flex;
        justify-content: center;
        gap: 1rem;

        button{
            text-decoration: none;
            color:inherit;
            font-size: inherit;
            display: flex;
            align-items: center;
            span{
                font-size: inherit !important;
            }
        }
        buttton:hover{
            border-bottom: 1px solid var(--white);
        }
    }

    .searcher{
        position: relative;
        display: inline-block;
  
        input{
            
            all:unset;
            background-color:var(--white);
            color:var(--black);
            border-radius: 1rem;
            padding:.7rem;
            font-size: px;
            padding-left: 2.5rem;
            position: relative;


        }
        span{
            padding-left: .5rem;
            position: absolute;
            color:var(--black);
        }
        .search_container{
            display: flex;
            align-items: center;
            position: relative;
        }
     
        #header_list{
            position: absolute;
            width: 100%;
            margin-bottom: 10px;
            padding-top: 10px;
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            width:100%;
            transform: translateY(-11px);
            font-size: 16px;
            padding: 1rem .5rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;

            

            button{
                color:var(--black);
            }
            
        }
    }

  


}
