header{
    height:80px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    color:var(--white);

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.5rem;
        font-size: 40px;
        span{
            font-size: inherit;
        }

    }
    

    .links{
        font-size: 30px;
        display: flex;
        justify-content: center;
        gap: 1rem;

        button{
            text-decoration: none;
            color:inherit;
            font-size: inherit;
            display: flex;
            align-items: center;
            span{
                font-size: inherit !important;
            }
        }
        buttton:hover{
            border-bottom: 1px solid var(--white);
        }
    }

    .searcher{
        display:flex;
        input{
            all:unset;
            background-color:var(--white);
            color:var(--black);
            border-radius: 1rem;
            padding:.7rem;
            padding-left: 2.5rem;

        }
        span{
            padding-left: .5rem;
            position: absolute;
            color:var(--black);
        }
        .search_container{
            display: flex;
            align-items: center;
        }
     
    }

  


}
