.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    .title{
        margin-bottom: 5%;

    }
    
    .method_container{
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
        width:100%;
        text-align: center;
        padding: .5rem;
        color:var(--black);
    }
    h3{
        font-size: 20px;
        font-weight: normal;
    }
    .description{
        display: flex;
        width:100%;
        min-height: 100%;
        color:var(--black);
        .function_list{
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            padding: 1rem 0;


            background-color: var(--gray);
            button:hover{
                background-color: var(--black);
                color:var(--white);
                transition: .5s;
            }

            button{
                all:unset;
                padding:1rem;
                padding-right: 3rem;
                display: flex;
                color:var(--black);

                align-items: center;                
                background-color: var(--gray);
            }

            button.active{
                background-color: var(--black);
                color:var(--white);
            }
        }
        .function_content{
            font-size: 30px;
            padding: 1rem;
            width:100%;
            .method_container{
                display: flex;
                align-items: start;
                font-size: 50px;
                gap: .5rem;
                padding-bottom: 1rem;
                .method{
                    border-radius: 1rem;
                    color:green;
                    font-size: 30px;
                    display: flex;
                    height: 100%;
                }
            }

            .func_description{
                font-size: 18px;
                margin-bottom: 1rem;
            }
           
            a{
                color:inherit;
            }
        }
    }
    


}